.breadcrumb-content{
    margin-top: 16px;
    margin-bottom: 16px;
    margin-left: 0;

    .breadcrumb {
        background-color:#EEEEEE;
    }

    a{
        text-decoration: none;
        color: #999999;
    }
}



